@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f6f6f6 0%, rgba(255, 255, 255, 0.5));
}

.globalTargetList li {
    list-style: none;
}

/* .line_bottom {
  width: 100% !important;
  height: 1px;
  background-color: #d4d2d0;
  border: none;
  margin-bottom: 25px;
  margin-top: 25px;
} */

.searchwork {
    width: 20px auto;
    height: 50px auto;
    color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

/* ---------------------------------------------company-info-box----------------------------------- */

/* .company-info-box {
  display: flex;
  align-items: center;
  height: 20px;
} */

.company-info-boxed {
    display: block;
    /* margin-top: -120px; */
}

.company-info-boxed .company-info {
    padding: 30px 35px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

strong {
    font-weight: 600;
    color: #333;
}

.company-info p.company-data__content--list-item {
    margin-top: 1px;
    margin-bottom: 0;
}

p.company-data__content--list-item {
    margin: 0;
    color: #777;
    font-size: 15px;
    margin-bottom: 8px;
    line-height: 24px;
    margin-top: -10px;
    font-weight: 400;
}

.company-info .content {
    display: block;
    float: left;
    margin: 23px 0 0 0;
    margin: 0;
    margin-top: 2px;
}

a {
    text-decoration: none !important;
}

.company-info-apply-btn .job_application.application a {
    min-width: 200px;
    text-align: center;
}

a.button {
    font-weight: 500;
    font-size: 14px;
    background-color: #08203a;
    text-transform: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    text-transform: none;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    overflow: hidden;
    line-height: 27px;
    position: relative;
    z-index: 10;
    color: #fff;
    border: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 0;
    box-shadow: 3px;
}

.left-company-logo a {
    text-decoration: none;
}

.company-info-apply-btn {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.company-info-boxed-logo {
    flex: 0 0 108px;
    margin-right: 25px;
}

.company-info-boxed-logo img {
    margin: 0;
    height: auto;
    width: 100%;
}

.company-info-boxed-links span a {
    font-size: 13px;
    font-weight: 400;
    background-color: #eee;
    margin-right: 3px;
    padding: 5px 9px;
    border-radius: 4px;
    color: #777;
}

.company-info-apply-btn .job_application.application a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #08203a;
}

.padding-right {
    padding-right: 20px;
}

p {
    font-family: "Poppins", sans-serif;
    margin: 0 0 15px 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #666;
    line-height: 2;
}

li {
    font-family: "Poppins", sans-serif;
    margin: 0 0 15px 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #666;
    line-height: 1.5;
}

.job_description p.pfix {
    margin-bottom: 0;
    height: 20px;
}

.job_description ul {
    list-style-type: none !important;
}

.job_description ul li:before {
    content: "\e052" !important;
    color: #2cba6c;
}

.job_description ul {
    margin-left: 0;
    margin-bottom: 20px;
    list-style-type: none;
    counter-reset: ordered;
    padding-left: 35px;
}

.job_tags a {
    color: #26ae61;
    text-decoration: none;
}

.widget {
    margin-bottom: 35px;
    margin: 0 0 1.5em;
}

h4 {
    color: #333;
    font-weight: 500;
    margin: 10px;
    padding: 0;
    font-family: "Poppins", sans-serif;
    vertical-align: baseline;
}

.widget h4 {
    font-size: 22px;
    margin-bottom: 15px;
    margin: 0;
    padding: 0;
    font-weight: 600 !important;
}

body .job-overview {
    background: #fafafa;
    border: none;
}

.job-overview,
.resume-spotlight,
.job-spotlight {
    background-color: #fdfdfd;
    border: 1px solid #e2e2e2;
    padding: 35px 38px 31px 38px;
}

.job-overview {
    border-radius: 4px;
    padding: 35px 38px 31px 38px;
}

@media only screen and (min-width: 960px) and (max-width: 1289px) {
    .container .column,
    .container .columns {
        /* float: left; */
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.right-sidebar {
    margin-top: -120px !important;
}

@media only screen and (min-width: 960px) and (max-width: 1289px) {
    .right-sidebar {
        position: relative;
        width: 960px;
        margin: 0 auto;
        padding: 0;
        margin-top: -41px !important;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1289px) {
    .container .eleven.columns {
        width: 640px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1289px) {
    #titlebar.titlebar-boxed-company-info {
        padding-bottom: 12px !important;
    }
}

/* ---------------------------------------------end company-info-box--------------------------------- */

/* .active {
  color: #000000;
  font-weight: bold;
} */

/* -----------------------------section----------------------------------------- */

/* section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
} */

/* .line-search {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  border-radius: 10px;
}

.searchwork button {
  border: none;
  background: none;
}
.searchwork svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #2d2d2d;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0;
}

form {
  display: flex;
  justify-content: center;

}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0px 10px;
  width: 100%;
}

.search-container input[type="text"] {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  width: 100%;
}

.search-container button {
  background-color: #fff;
  border: none;
  color: #172738;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

#titlebar.titlebar-boxed-company-info {
    padding-bottom: 160px;
    margin-bottom: 0;
    padding-top: 60px;
    /* background: linear-gradient(to bottom, #f6f6f6 0%, rgba(255, 255, 255, 0.5)); */
}

#titlebar span a {
    font-size: 16px;
    color: #888;
    outline: none !important;
    text-decoration: none;
}

#titlebar.titlebar-boxed-company-info .bookmark-notice {
    background: #faf1c8;
    color: #a38948;
    font-weight: 400;
    text-decoration: none;
}

#titlebar .bookmark-notice {
    padding: 12px 16px !important;
}

#titlebar h1,
#titlebar h2 {
    font-size: 41px;
    line-height: 36px;
    margin-left: 10px;
}

#titlebar h1 span {
    padding: 2px 8px;
    position: relative;
    top: -4px;
    font-size: 12px;
    display: inline-block;
    text-transform: none;
    border-radius: 4px;
    color: #fff;
}

span.full-time {
    background-color: #186fc9;
    margin-left: 10px;
    padding: 8px 8px;
    position: relative;
    top: -4px;
    font-size: 12px;
    display: inline-block;
    text-transform: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
}

#titlebar {
    position: relative;
}

#titlebar .button {
    right: 10px;
    position: absolute;
    top: 51%;
    transform: translateY(-51%);
    border-radius: 4px;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}

@media only screen and (min-width: 960px) and (max-width: 1289px) {
    .container {
        position: relative;
        width: 960px;
        margin: 0 auto;
        padding: 0;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1289px) {
    #titlebar .button {
        transform: translateY(-75%);
        /*28% */
    }
}

/* -----------------------------end section ------------------------------------ */

/* Icon styles */

.fa-search,
.fa-map-marker-alt {
    font-size: 18px;
}

h1,
h2,
h3 {
    color: #333;
}

/* .sfa {
    color: #172738;
    font-size: 80px;
} */

input[type="text"] {
    width: 100%;
    padding: 10px;
    height: auto;
    margin-right: 0px;
    border: 1px solid #1bbc9b;
    /* border-radius: 4px; */
    /* border: none; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) */
}

input[type="submit"] {
    background-color: #172738;
    color: #fff;
    padding: 10px 15px;
    border: none;
    /* height: 50px; */
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #172738;
}

input {
    border: 2px solid hsl(236, 92%, 66%);
    outline: none;
    transition: 200ms ease-in;
}

/* 
input:focus {
  border-bottom: 4px solid hsl(236, 92%, 66%);

}

input::placeholder {
  color: hsl(236, 92%, 66%);
  opacity: 0.5;
} */

.job-listings {
    margin-top: 30px;
}

.job-listing {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.company-section {
    margin-top: 30px;
}

.featured-company {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

header {
    background-color: #fff;
    color: #fff;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 220px;
    /* Adjust the width as needed */
    /* height: 50px; Adjust the height as needed */
    margin-right: 30px;
}

.logo h1 {
    margin: 0;
    font-size: 30px;
    color: #172738;
}

nav {
    text-align: center;
    display: flex;
}

.nav-log,
header {
    text-align: center;
    display: flex !important;
}

nav a {
    color: #555 !important;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s;
    font-size: 15px;
    font-weight: 500;
}

/* ----------------------------workify css--------------------- */

nav .login-btn:hover {
    color: #172738;
}

nav a:hover {
    color: rgb(27, 188, 155);
    text-decoration: none !important;
}

nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(27, 188, 155);
    bottom: -17px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

/* //////////////////////END ///////////////////////////////////////*/

/* ------------------------------drdsnhs css ---------------------------- */

/* nav .login-btn:hover {
    color: #fff;
}

nav a:hover {
    color: rgb(24, 97, 59, 0.7);
}

/* .active-header {
  color: #1bbc9b;
} */

nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(24, 97, 59, 0.7);
    bottom: -17px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

*/
/* //////////////////////END ///////////////////////////////////////*/

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* .login-btn {
            background-color: #1bbc9b;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .login-btn:hover {
            background-color: #0e745f;
        

        } */

.login-btn {
    margin-right: 10px;
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 14px;
    color: #172738;
    /* border: 1px solid rgb(24, 97, 59); */
    border: 1px solid rgb(23, 39, 56);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    /* padding: 10px 10px !important; */
}

.login-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(24, 97, 59, 0.7); */
    background-color: rgb(37, 216, 180);
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
    color: #fff;
}

.login-btn:hover::before {
    transform: translateX(0);
    color: #fff;
}

.login-btn:hover {
    font-weight: 700;
}

/* .css-1ld7x2h {
    box-sizing: border-box;
    height: 2rem;
    min-width: 0;
  width: 0.0625rem;
}
.css-1ld7x2h {
    background-color: #d4d2d0;
    margin: 0.75rem 0 0;
    margin-top: 0;
        position: absolute;
    left: 90%;
} */

@media only screen and (max-width: 1085px) {
    .header {
        padding-left: 20px !important;
        padding-bottom: 5px !important;
    }
    .logo img {
        width: 160px !important;
        /* Adjust the width as needed */
        margin-right: 15px !important;
    }
    nav a {
        padding: 10px 10px !important;
        margin: 0 10px !important;
        font-size: 14px !important;
    }
    .login-btn {
        /* width: 10% !important; */
        height: 10% !important;
    }
}

.jobsearch-TabbedContent-tabsContainer {
    border-bottom: 1px solid #e4e2e0;
    display: flex;
    justify-content: center;
    min-height: 48px;
    background-color: #fff;
    position: relative;
    text-align: center;
}

/* -------------------------line button----------------------------- */

.css-1ld7x2h {
    background-color: #d4d2d0;
    margin: 0.75rem 0 0;
}

.css-1ld7x2h {
    box-sizing: border-box;
    height: 1.5rem;
    min-width: 0;
    width: 0.0625rem;
}

/* ------------------------Job List----------------------- */

* {
    outline: none;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #e5ecef;
    --theme-bg-color: #fafafb;
    --body-font: "Poppins", sans-serif;
    --body-color: #2f2f33;
    --active-color: #0162ff;
    --active-light-color: #e1ebfb;
    --header-bg-color: #fff;
    --search-border-color: #efefef;
    --border-color: #d8d8d8;
    --alert-bg-color: #e8f2ff;
    --subtitle-color: #83838e;
    --inactive-color: #f0f0f0;
    --placeholder-color: #9b9ba5;
    --time-button: #fc5757;
    --level-button: #5052d5;
    --button-color: #fff;
}

.dark-mode {
    --body-bg-color: #1d1d1d;
    --theme-bg-color: #13131a;
    --header-bg-color: #1c1c24;
    --alert-bg-color: #292932;
    --body-color: #fff;
    --inactive-color: #292932;
    --time-button: #fff;
    --level-button: #fff;
    --active-light-color: #263d63;
    --border-color: #26262f;
    --search-border-color: #26262f;
}

img {
    max-width: 100%;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.dark-light svg {
    margin-right: 8px;
    width: 22px;
    cursor: pointer;
    fill: transparent;
    transition: 0.5s;
}

.dark-mode {
    .dark-light svg {
        fill: #ffce45;
        stroke: #ffce45;
    }
    .job-card svg {
        box-shadow: none;
    }
    .search.item {
        color: var(--body-color);
        border-color: var(--body-color);
    }
    .search-location,
    .search-job,
    .search-salary {
        svg {
            color: var(--body-color);
        }
    }
    .detail-button {
        background-color: var(--inactive-color);
        color: var(--subtitle-color);
    }
}

.job {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--theme-bg-color);
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    svg {
        width: 24px;
        margin-right: 12px;
    }
}

.user-settings {
    display: flex;
    align-items: center;
    font-weight: 500;
    svg {
        width: 20px;
        color: #94949f;
    }
}

.user-menu {
    position: relative;
    margin-right: 8px;
    padding-right: 8px;
    border-right: 2px solid #d6d6db;
    &:before {
        position: absolute;
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 2px solid var(--header-bg-color);
        right: 6px;
        top: -1px;
        background-color: var(--active-color);
    }
}

.user-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    scroll-behavior: smooth;
    padding: 30px 40px;
    overflow: auto;
}

.search-menu {
    height: 56px;
    white-space: nowrap;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background-color: var(--header-bg-color);
    border-radius: 8px;
    width: 100%;
    padding-left: 20px;
    div:not(:last-of-type) {
        border-right: 1px solid var(--search-border-color);
    }
}

.search-location,
.search-job,
.search-salary {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 14px;
    font-weight: 500;
    padding: 0 25px;
    height: 100%;
    svg {
        margin-right: 8px;
        width: 18px;
        color: var(--active-color);
        flex-shrink: 0;
    }
}

.search-button {
    background-color: var(--active-color);
    height: 55px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    padding: 0 15px;
    border-radius: 0 8px 8px 0;
    color: var(--button-color);
    cursor: pointer;
    margin-left: auto;
}

.search.item {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 13px;
    color: var(--active-color);
    border: 1px solid var(--search-border-color);
    padding: 8px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    svg {
        width: 12px;
        margin-left: 5px;
    }
    &:last-child {
        left: 185px;
    }
}

.main-container {
    display: flex;
    flex-grow: 1;
    padding-top: 30px;
    padding: 20px !important;
}

.search-type {
    width: 270px;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0;
}

.alert {
    background-color: var(--alert-bg-color);
    padding: 24px 18px;
    border-radius: 8px;
    &-title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
    }
    &-subtitle {
        font-size: 13px;
        color: var(--subtitle-color);
        line-height: 1.6em;
        margin-bottom: 20px;
    }
}

.search-buttons {
    border: none;
    color: var(--button-color);
    background-color: var(--active-color);
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 14px;
}

.job-wrapper {
    padding-top: 20px;
}

.job-time {
    padding-top: 20px;
    &-title {
        font-size: 14px;
        font-weight: 500;
    }
}

.type-container {
    display: flex;
    align-items: center;
    color: var(--subtitle-color);
    font-size: 13px;
    label {
        margin-left: 2px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    & + & {
        margin-top: 10px;
    }
}

.job-number {
    margin-left: auto;
    background-color: var(--inactive-color);
    color: var(--subtitle-color);
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    border-radius: 4px;
}

.job-style {
    display: none;
}

.job-style + label:before {
    content: "";
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--subtitle-color);
    border-radius: 4px;
    cursor: pointer;
}

.job-style:checked + label:before {
    background-color: var(--active-color);
    border-color: var(--active-color);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
    background-position: 50%;
    background-size: 14px;
    background-repeat: no-repeat;
}

.job-style:checked + label + span {
    background-color: var(--active-light-color);
    color: var(--active-color);
}

.searched-jobs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 40px;
}

@keyframes slideY {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
}

.searched {
    &-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: slideY 0.6s both;
        /* //display: none; */
    }
    &-show {
        font-size: 19px;
        font-weight: 600;
    }
    &-sort {
        font-size: 14px;
        color: var(--subtitle-color);
        .post-time {
            font-weight: 600;
            color: var(--subtitle-color);
        }
        .menu-icon {
            font-size: 9px;
            color: var(--placeholder-color);
            margin-left: 6px;
        }
    }
}

.job-cards {
    height: auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    animation: slideY 0.6s both;
}

.job-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Ensure content is spaced evenly */
    height: 400px;
    /* Set a uniform height */
    padding: 20px 16px;
    background-color: var(--header-bg-color);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    overflow: hidden;
    position: relative;
}

.job-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

.job-card svg {
    width: 46px;
    padding: 10px;
    border-radius: 8px;
}

.job-card-title {
    font-weight: 600;
    margin-top: 16px;
    font-size: 14px;
}

.job-card-subtitle {
    color: var(--subtitle-color);
    font-size: 13px;
    line-height: 1.6em;
    overflow: hidden;
    flex-grow: 1;
}

.job-card-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.card-buttons,
.card-buttons-msg {
    padding: 10px;
    width: calc(50% - 6px);
    font-size: 12px;
    cursor: pointer;
}

.card-buttons {
    margin-right: 12px;
}

.card-buttons-msg {
    background-color: var(--inactive-color);
    color: var(--subtitle-color);
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
}

.job-overview {
    display: flex;
    flex-grow: 1;
    display: none;
    animation: slide 0.6s both;
    &-cards {
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 100%;
        flex-shrink: 0;
    }
    &-card + &-card {
        margin-top: 20px;
    }
    &-buttons {
        display: flex;
        align-items: center;
        margin-top: 12px;
        .search-buttons {
            background-color: var(--inactive-color);
            font-size: 11px;
            padding: 6px 8px;
            margin-top: 0;
            font-weight: 500;
            &.time-button {
                color: var(--time-button);
                margin-right: 8px;
            }
            &.level-button {
                color: var(--level-button);
            }
        }
        .job-stat {
            color: var(--active-color);
            font-size: 12px;
            font-weight: 500;
            margin-left: auto;
        }
        .job-day {
            color: var(--subtitle-color);
            font-size: 12px;
            margin-left: 8px;
            font-weight: 500;
        }
    }
    .overview-wrapper {
        display: flex;
        align-items: center;
        svg:first-child {
            width: 42px;
            margin-right: 10px;
        }
        .heart {
            background: none;
            box-shadow: none;
            width: 24px;
            padding: 4px;
            color: var(--subtitle-color);
            border: 1px solid var(--border-color);
            margin-left: auto;
            margin-bottom: auto;
        }
    }
}

.overview-detail {
    .job-card-title-company,
    .job-card-title-location,
    .job-card-title,
    .job-card-subtitle {
        margin-top: 4px;
    }
    .job-card-subtitle {
        font-size: 12px;
        font-weight: 500;
    }
}

.job-explain {
    background-color: var(--header-bg-color);
    margin-left: 40px;
    border-radius: 0 0 8px 8px;
}

.job-bg {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    width: 100%;
    height: 180px;
    transition: 0.3s;
    position: relative;
}

.job-logos {
    margin-top: -30px;
    position: relative;
    margin-bottom: -36px;
    padding: 0 20px;
    svg {
        width: 66px;
        padding: 12px;
        background-color: #fff;
        border-radius: 10px;
        border: 4px solid var(--header-bg-color);
    }
}

.job-title-wrapper {
    display: flex;
    align-items: center;
    .job-card-title-company,
    .job-card-title-location,
    .job-card-title {
        font-size: 20px;
        margin-top: 0;
        font-weight: 600;
    }
}

.loc-com {
    margin-top: 8px;
    margin-bottom: 8px;
}

.job-action {
    display: flex;
    align-items: center;
    margin-left: auto;
    svg {
        width: 32px;
        border: 1px solid var(--border-color);
        color: var(--subtitle-color);
        border-radius: 8px;
        padding: 6px;
        & + svg {
            margin-left: 12px;
        }
    }
}

.job-explain-content {
    padding: 50px 25px 30px;
}

.job-subtitle-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    .posted {
        margin-left: auto;
    }
    .company-name {
        color: var(--active-color);
        font-weight: 600;
        font-size: 14px;
    }
    .comp-location,
    .posted {
        color: var(--subtitle-color);
        font-size: 12px;
        font-weight: 500;
    }
    .comp-location {
        position: relative;
        margin-left: 10px;
        &:before {
            content: "";
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: var(--placeholder-color);
            top: 49%;
            left: -8px;
            position: absolute;
        }
    }
    .app-number {
        color: var(--body-color);
        position: relative;
        margin-left: 12px;
        &:before {
            content: "";
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: var(--placeholder-color);
            top: 50%;
            left: -7px;
            position: absolute;
        }
    }
}

.explain {
    &-bar {
        margin-top: 20px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        display: flex;
        height: 66px;
        padding: 0 16px;
        align-items: center;
        justify-content: space-between;
    }
    &-title {
        color: var(--subtitle-color);
        font-size: 12px;
        line-height: 40px;
        white-space: nowrap;
    }
    &-subtitle {
        font-size: 13px;
        font-weight: 500;
        margin-top: -2px;
        white-space: nowrap;
    }
    &-contents {
        height: 66px;
        & + & {
            border-left: 1px solid var(--border-color);
            padding-left: 16px;
        }
    }
}

.overview-text {
    margin-top: 30px;
    &-header {
        font-weight: 600;
        margin-bottom: 25px;
    }
    &-subheader {
        font-size: 13px;
        line-height: 2em;
    }
    &-item {
        font-size: 13px;
        position: relative;
        display: flex;
        & + & {
            margin-top: 20px;
        }
        &:before {
            content: "";
            border: 2px solid #61bcff;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            margin-right: 8px;
            flex-shrink: 0;
        }
    }
}

.detail-page {
    .job-overview {
        display: flex;
    }
    .job-cards,
    .searched-bar {
        display: none !important;
    }
    @media screen and (max-width: 1300px) {
        .search-type {
            display: none;
        }
        .searched-jobs {
            padding-left: 0;
        }
    }
}

@media screen and (max-width: 990px) {
    .explain-contents,
    .explain-bar {
        height: auto;
    }
    .explain-bar {
        flex-wrap: wrap;
        padding-bottom: 14px;
    }
    .explain-contents {
        width: 50%;
    }
    .explain-contents + .explain-contents {
        padding: 0;
        border: 0;
    }
    .explain-contents:nth-child(2) ~ .explain-contents {
        margin-top: 16px;
        border-top: 1px solid var(--border-color);
    }
    .job-subtitle-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .job-subtitle-wrapper .posted {
        margin-left: 0;
        margin-top: 6px;
    }
}

@media screen and (max-width: 930px) {
    .search-job,
    .search-salary {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .detail-page .job-overview-cards {
        display: none;
    }
    .user-name {
        display: none;
    }
    .user-profile {
        margin-right: 0;
    }
    .job-explain {
        margin-left: 0;
    }
}

@media screen and (max-width: 730px) {
    .search-type {
        display: none;
    }
    .searched-jobs {
        padding-left: 0;
    }
    .search-menu div:not(:last-of-type) {
        border: 0;
    }
    .job-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .search-location {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .job-cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .header-menu a:not(:first-child) {
        margin-left: 10px;
    }
}

@media screen and (max-width: 590px) {
    .header-menu {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .search.item {
        display: none;
    }
    .search-button {
        margin-left: 16px;
    }
    .searched-bar {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .searched-sort {
        margin-top: 5px;
    }
    .main-container {
        padding-top: 20px;
    }
}

@media screen and (max-width: 380px) {
    .explain-contents {
        width: 100%;
        margin: 0;
    }
    .explain-contents:nth-child(2) ~ .explain-contents {
        margin: 0;
        border: 0;
    }
    .wrapper {
        padding: 20px;
    }
    .header {
        padding: 0 20px;
    }
}

@media screen and (max-width: 393px) {
    header {
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 25px;
    }
    nav a {
        /* padding: 5px 10px !important;
        margin: 0 10px !important; */
        font-size: 3px !important;
    }
    .logo img {
        width: 70px;
        margin-right: 5px;
    }
    .dash-middle,
    .css-1ld7x2h,
    .com-btn,
    .sub-btn {
        display: none !important;
    }
    .login-btn {
        font-size: 16px !important;
    }
    header {
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 25px;
    }
    .search-container input[type="text"] {
        height: 10px;
        padding: 10px;
        font-size: 12px;
    }
    .search-container button {
        padding: 0px;
    }
}

.job-detail-buttons {
    margin-bottom: 8px;
}

.css-1f21ew {
    margin-top: 8px;
    font-weight: 400 !important;
    color: #6f6f6f;
    font-family:
        Noto Sans,
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
    box-sizing: initial;
    font-size: 0.75rem;
}

.job-card-subtitle ul li {
    list-style-type: circle;
}

.job-card-title-location .fas {
    color: rgb(118, 118, 118);
    margin: 8px;
}

/* -------------------------------recent Search --------------- */

.recent-search {
    width: 100%;
    display: flex;
    align-items: center;
}

.clear-btn {
    font-family: inherit;
    background: #91a1bb;
    color: #fff;
    border: 0;
    cursor: pointer;
    margin-right: auto;
    margin-left: 40%;
    border-radius: 5px;
    font-size: 1.4rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    line-height: 1;
}

.clear-btn:hover {
    background: #597191;
}

.clear-btn:focus,
.clear-btn:active {
    outline: 0;
}

.clear-btn:disabled {
    background: #f6f7f9;
    color: #91a1bb;
    cursor: not-allowed;
}

/* --------------------------------------Header Sticky--------------------------- */

.stickyhead {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.stickyhead + .content-sticky {
    padding-top: 102px;
}

/* ---------------------------------search not found-------------------------------- */

footer {
    width: 100% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.globalSearchResultNoFoundFeedback {
    font-size: 30px;
    padding: 20px;
    color: #91a1bb;
    text-align: center;
    font-family: inherit;
    background: #f6f7f9;
    border-radius: 5px;
}

body {
    background: #fbfbfd;
}

.new_footer_area {
    background: #fbfbfd;
}

.new_footer_top {
    padding: 50px 0px 300px;
    position: relative;
    overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 5px;
    /* padding-bottom: 50px; */
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    /* padding: 27px 0px; */
}

.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}

.btn_get {
    border-color: #08203a !important;
}

.btn_get_two:hover {
    background: transparent !important;
    color: #08203a !important;
}

.btn_get:hover {
    color: #fff !important;
    background: #08203a !important;
    border-color: #08203a !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}

.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}

.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.ti-facebook:before {
    content: "\e741";
}

.ti-twitter-alt:before {
    content: "\e74b";
}

.ti-vimeo-alt:before {
    content: "\e74a";
}

.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #1bbc9b;
    border-color: #1bbc9b;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #1bbc9b;
}

.new_footer_top .f_social_icon a:hover {
    background: #1bbc9b;
    border-color: #1bbc9b;
    color: white;
}

.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}

.f_600 {
    font-weight: 600;
}

.f_size_18 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4b505e;
}

.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}

.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png")
        no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif")
        no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif")
        no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}

.col-lg-3 img {
    transform: translateY(63%);
}

.col-lg-6 p {
    transform: translateX(63%);
}

@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}

/*************footer End*****************/

/* ----------------------------------------rating graph ----------------------------------------- */

.container-rating {
    width: 500px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    background-color: #efefef;
    padding: 4px;
}

.inner-rating {
    padding: 1em;
    background-color: white;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.rating {
    float: left;
    width: 45%;
    margin-right: 5%;
    text-align: center;
}

.rating-num {
    color: #333333;
    font-size: 72px;
    font-weight: 100;
    line-height: 1em;
}

.rating-stars {
    font-size: 20px;
    color: #e3e3e3;
    margin-bottom: 0.5em;
}

.rating-stars .active {
    color: #737373;
}

.rating-users {
    font-size: 14px;
}

.histo {
    float: left;
    width: 50%;
    font-size: 13px;
}

.histo-star {
    float: left;
    padding: 3px;
}

.histo-rate {
    width: 100%;
    display: block;
    clear: both;
}

.bar-block {
    margin-left: 5px;
    color: black;
    display: block;
    float: left;
    width: 75%;
    position: relative;
}

.bar {
    padding: 4px;
    display: block;
}

#bar-five {
    width: 0;
    background-color: #18613b;
}

#bar-four {
    width: 0;
    background-color: #4b9960;
}

#bar-three {
    width: 0;
    background-color: #ffd230;
}

#bar-two {
    width: 0;
    background-color: #ffa500;
}

#bar-one {
    width: 0;
    background-color: #ff0000;
}

/* -------------------------------------------graph evaluation ------------------------ */

.tab-pane {
    margin-top: 20px !important;
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background: rgba(0, 0, 0, 0);
    color: #4e5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26b4ff;
    background: transparent;
    color: #26b4ff;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.card-graph {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.row {
    justify-content: center !important;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.container-org {
    /* margin-left: 150px !important; */
    /* margin-right: 150px !important; */
    width: 100% !important;
    /* border: solid grey 1px; */
}

.container-org h4 {
    margin-bottom: 0px !important;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect ~ .select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.job-category a {
    margin-bottom: 30px !important;
}

/* @media (min-width: 1200px) {
  .container {
    max-width: 1117.5px !important;
  }
} */

/* /////////////////////////////////////////////bar rating graph and pie chart///////////////////// */

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    /* margin-top: 50px; */
    margin-bottom: 100px;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
}

.flex-left {
    width: 50%;
    margin: 5px;
    padding: 5px;
    /* border: 3px solid red; */
    display: grid;
    place-items: center;
}

.flex-right {
    width: 50%;
    margin: 5px;
    padding: 5px;
    /* border: 3px solid green; */
    display: grid;
    place-items: center;
}

#top_x_div_rating {
    width: 100%;
    /* Set width to 100% for responsiveness */
    height: 300px;
    /* Fixed height */
}

.rating-users,
.fa {
    font-size: 19px;
    text-align: center;
    padding-top: 10px;
    color: #212529;
}

.fa {
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#total-student {
    min-width: 100%;
    /* Minimum width */
    min-height: 300px;
    /* Minimum height */
}

/* ///////////////////////////////////rating //////////////////////////////////////////////////////// */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container-btm-rating {
    width: auto;
    padding-top: 20px;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #252525;
    margin-bottom: 20px;
}

.row {
    margin: 0 -15px;
}

.col-3 {
    float: left;
    width: auto;
    padding: 0 15px;
    margin-bottom: 20px;
}

.col-4 {
    float: left;
    width: 277.5px;
    padding: 0 15px;
    margin-bottom: 20px;
}

.col-5 {
    float: left;
    width: 222px;
    padding: 0 15px;
    margin-bottom: 20px;
}

.col-6 {
    float: left;
    width: 185px;
    padding: 0 15px;
    margin-bottom: 20px;
    background-color: blue;
}

.common {
    background-color: white;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    height: auto;
    border-radius: 10px;
    padding: 30px;
}

#wp-top-x-div,
#pro-top-x-div,
#ld-top-x-div,
#tc-top-x-div,
#am-top-x-div {
    min-width: 100%;
    /* Minimum width */
    min-height: 300px;
}

.fa-bar-chart,
.fa-pie-chart {
    color: #fff;
    font-size: 25px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 10px;
    padding-top: 0px;
}

.single_job_listing {
    margin-bottom: 90px;
}
