/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */

/* Generic styles just to make this pen look better */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    vertical-align: middle;
}

.logoimg {
    margin-left: auto;
    margin-right: auto;
    width: 76%;
    display: block;
    border-radius: 10px;
    object-fit: cover;
}

.Settings {
    margin-left: 65%;
    margin-right: auto;
    margin-top: -4%;
    display: block;
    width: 20%;
}

.Settings label {
    cursor: pointer;
}

.profile-name img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    object-fit: cover;
    margin-left: 21%;
    margin-top: -90px;
    border: 5px solid #fff;
    object-fit: cover;
}

.name {
    margin-top: 1%;
    margin-left: 21%;
    font-size: 1.25rem;
    /* size: 10px; */
    font-family: sans-serif;
}

.strand {
    margin-top: 1%;
    margin-left: 60%;
    font-size: 1.25rem;
    color: #777;
}

hr {
    margin: auto;
    width: 75%;
}

footer {
    background-color: #fff;
    color: #333;
    padding: 20px;
    text-align: center;
    bottom: 0;
}

h1,
h2,
h3 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-header {
    background-color: #fff;
    color: #000000;
    padding-top: 5px;
    padding-left: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.cam {
    display: none;
}

.pen {
    display: none;
}

.button-12 {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: "Poppins", sans-serif;
    border-radius: 6px;
    border: none;
    background: #1bbc9b;
    box-shadow:
        0px 0.5px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
        0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* font-weight: bold; */
}

.button-12:focus {
    box-shadow:
        inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
        0px 0.5px 1px rgba(0, 0, 0, 0.1),
        0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.button-12:hover {
    background-color: #17997f;
}

.button-13 {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: "Poppins", sans-serif;
    border-radius: 6px !important;
    border: none;
    background: #fff;
    box-shadow:
        0px 0.5px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
        0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #127964;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    right: 50px;
    /* font-weight: bold; */
}

.button-13:focus {
    box-shadow:
        inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
        0px 0.5px 1px rgba(0, 0, 0, 0.1),
        0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.button-13:hover {
    background-color: #f1fffc;
    border-color: #1bbc9b;
}

@media screen and (max-width: 1000px) {
    .cam {
        display: block;
        font-size: 15px;
        border-radius: 20px;
    }
    .edit {
        display: none;
    }
    .pen {
        display: block;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 220px;
    /* Adjust the width as needed */
    /* height: 50px; Adjust the height as needed */
    margin-right: 30px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    text-align: center;
    display: flex;
}

nav a {
    color: #555;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s;
    font-size: 15px;
    font-weight: 400;
}

nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1bbc9b;
    bottom: -14px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.fas i {
    margin: 0 10px;
}

nav .login-btn:hover {
    color: #172738;
}

nav a:hover {
    color: #1bbc9b;
}

.active {
    color: #000000;
    background-color: rgba(27, 188, 155, 0.3);
    font-weight: bold;
}

.bt a:hover {
    color: #000000;
    background-color: rgba(27, 188, 155, 0.3);
    font-weight: bold;
}

.by a:hover {
    color: #1bbc9b;
    font-weight: bold;
}

.bt a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1bbc9b;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.login-btn {
    margin-right: 10px;
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 14px;
    font-weight: 700;
    color: #172738;
    border: 1px solid rgb(23, 39, 56);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.login-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 216, 180);
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
    color: #fff;
}

.login-btn:hover::before {
    transform: translateX(0);
    color: #fff;
}

@media only screen and (max-width: 1085px) {
    .header {
        padding-left: 20px !important;
        padding-bottom: 5px !important;
    }
    .logo img {
        width: 160px !important;
        /* Adjust the width as needed */
        margin-right: 15px !important;
    }
    nav a {
        padding: 5px 10px !important;
        margin: 0 10px !important;
        font-size: 14px !important;
    }
    .login-btn {
        /* width: 10% !important; */
        height: 10% !important;
        padding: 10px !important;
    }
    .logoimg {
        width: 100% !important;
    }
    .css-1ld7x2h {
        margin: 10px 0 0 !important;
    }
    nav {
        margin: 0;
    }
}

/* -------------------------line button----------------------------- */

.css-1ld7x2h {
    background-color: #d4d2d0;
    margin: 0.75rem 0 0;
}

.css-1ld7x2h {
    box-sizing: border-box;
    height: 1.5rem;
    min-width: 0;
    width: 0.0625rem;
}

/* --------------------Line  ---------------------- */

.line_bottom {
    width: 100%;
    height: 1px;
    background-color: #d4d2d0;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* ---Details--- */

h1 {
    padding-top: 30px;
    margin: auto;
    width: 75%;
}

/* --Snapshot-- */

.snapshot_containe,
.bgc {
    margin: auto;
    width: 75%;
    height: auto;
    padding: 16px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.fa {
    margin: 6px;
}

/* ----------------------------------------- work immersion search bar --------------------------------  */

.section-search-loc-wrk {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    /* margin-left: 50px !important; */
    /* background-color: #fff; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.line-search {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
}

.searchwork svg {
    width: 1.5rem;
    height: 1.5rem;
    color: #2d2d2d;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0;
}

.searchwork {
    width: 20px auto;
    height: 50px auto;
    color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.searchwork button {
    border: none;
    background: none;
}

.form-search {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    /*   border-radius: 10px; */
    padding: 0px 10px;
    width: 100%;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.search-container input[type="text"] {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    /*   border-radius: 10px; */
}

.search-container button {
    background-color: #fff;
    border: none;
    color: #172738;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    height: auto;
    margin-right: 0px;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    border: none;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) */
}

input[type="submit"] {
    background-color: #172738;
    color: #fff;
    padding: 10px 15px;
    border: none;
    /* height: 50px; */
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #172738;
}

/* input {
    border: 2px solid hsl(236, 92%, 66%);
    outline: none;
    transition: 200ms ease-in;
} */

.fa-search,
.fa-map-marker-alt {
    font-size: 18px;
}

/* -------------------------------------------------Job List-------------------------------------------------- */

/* ------------------------Job List----------------------- */

* {
    outline: none;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #e5ecef;
    --theme-bg-color: #fafafb;
    --body-font: "Poppins", sans-serif;
    --body-color: #2f2f33;
    --active-color: #0162ff;
    --active-light-color: #e1ebfb;
    --header-bg-color: #fff;
    --search-border-color: #efefef;
    --border-color: #d8d8d8;
    --alert-bg-color: #e8f2ff;
    --subtitle-color: #83838e;
    --inactive-color: #f0f0f0;
    --placeholder-color: #9b9ba5;
    --time-button: #fc5757;
    --level-button: #5052d5;
    --button-color: #fff;
}

.dark-mode {
    --body-bg-color: #1d1d1d;
    --theme-bg-color: #13131a;
    --header-bg-color: #1c1c24;
    --alert-bg-color: #292932;
    --body-color: #fff;
    --inactive-color: #292932;
    --time-button: #fff;
    --level-button: #fff;
    --active-light-color: #263d63;
    --border-color: #26262f;
    --search-border-color: #26262f;
}

img {
    max-width: 100%;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.dark-light svg {
    margin-right: 8px;
    width: 22px;
    cursor: pointer;
    fill: transparent;
    transition: 0.5s;
}

.dark-mode {
    .dark-light svg {
        fill: #ffce45;
        stroke: #ffce45;
    }
    .job-card svg {
        box-shadow: none;
    }
    .search.item {
        color: var(--body-color);
        border-color: var(--body-color);
    }
    .search-location,
    .search-job,
    .search-salary {
        svg {
            color: var(--body-color);
        }
    }
    .detail-button {
        background-color: var(--inactive-color);
        color: var(--subtitle-color);
    }
}

.job {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--theme-bg-color);
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    svg {
        width: 24px;
        margin-right: 12px;
    }
}

.user-settings {
    display: flex;
    align-items: center;
    font-weight: 500;
    svg {
        width: 20px;
        color: #94949f;
    }
}

.user-menu {
    position: relative;
    margin-right: 8px;
    padding-right: 8px;
    border-right: 2px solid #d6d6db;
    &:before {
        position: absolute;
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 2px solid var(--header-bg-color);
        right: 6px;
        top: -1px;
        background-color: var(--active-color);
    }
}

.user-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    scroll-behavior: smooth;
    padding: 30px 40px;
    overflow: auto;
}

.search-menu {
    height: 56px;
    white-space: nowrap;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background-color: var(--header-bg-color);
    border-radius: 8px;
    width: 100%;
    padding-left: 20px;
    div:not(:last-of-type) {
        border-right: 1px solid var(--search-border-color);
    }
}

.search-location,
.search-job,
.search-salary {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 14px;
    font-weight: 500;
    padding: 0 25px;
    height: 100%;
    svg {
        margin-right: 8px;
        width: 18px;
        color: var(--active-color);
        flex-shrink: 0;
    }
}

.search-button {
    background-color: var(--active-color);
    height: 55px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    padding: 0 15px;
    border-radius: 0 8px 8px 0;
    color: var(--button-color);
    cursor: pointer;
    margin-left: auto;
}

.search.item {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 13px;
    color: var(--active-color);
    border: 1px solid var(--search-border-color);
    padding: 8px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    svg {
        width: 12px;
        margin-left: 5px;
    }
    &:last-child {
        left: 185px;
    }
}

.main-container {
    display: flex;
    flex-grow: 1;
    padding-top: 30px;
    padding: 20px !important;
}

.search-type {
    width: 270px;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0;
}

.alert {
    background-color: var(--alert-bg-color);
    padding: 24px 18px;
    border-radius: 8px;
    &-title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
    }
    &-subtitle {
        font-size: 13px;
        color: var(--subtitle-color);
        line-height: 1.6em;
        margin-bottom: 20px;
    }
}

.search-buttons {
    border: none;
    color: var(--button-color);
    background-color: var(--active-color);
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 14px;
}

.job-wrapper {
    padding-top: 20px;
}

.job-time {
    padding-top: 20px;
    &-title {
        font-size: 14px;
        font-weight: 500;
    }
}

.type-container {
    display: flex;
    align-items: center;
    color: var(--subtitle-color);
    font-size: 13px;
    label {
        margin-left: 2px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    & + & {
        margin-top: 10px;
    }
}

.job-number {
    margin-left: auto;
    background-color: var(--inactive-color);
    color: var(--subtitle-color);
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    border-radius: 4px;
}

.job-style {
    display: none;
}

.job-style + label:before {
    content: "";
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--subtitle-color);
    border-radius: 4px;
    cursor: pointer;
}

.job-style:checked + label:before {
    background-color: var(--active-color);
    border-color: var(--active-color);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
    background-position: 50%;
    background-size: 14px;
    background-repeat: no-repeat;
}

.job-style:checked + label + span {
    background-color: var(--active-light-color);
    color: var(--active-color);
}

.searched-jobs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 40px;
}

@keyframes slideY {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
}

.searched {
    &-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: slideY 0.6s both;
        /* //display: none; */
    }
    &-show {
        font-size: 19px;
        font-weight: 600;
    }
    &-sort {
        font-size: 14px;
        color: var(--subtitle-color);
        .post-time {
            font-weight: 600;
            color: var(--subtitle-color);
        }
        .menu-icon {
            font-size: 9px;
            color: var(--placeholder-color);
            margin-left: 6px;
        }
    }
}

.job-cards {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    animation: slideY 0.6s both;
    /* //display: none; */
    @media screen and (max-width: 1212px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 930px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.job-card:hover {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

.job-card {
    padding: 20px 16px;
    background-color: var(--header-bg-color);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        transform: scale(1.02);
    }
    svg {
        width: 46px;
        padding: 10px;
        border-radius: 8px;
    }
    &-title {
        font-weight: 600;
        margin-top: 16px;
        font-size: 14px;
    }
    &-subtitle {
        color: var(--subtitle-color);
        font-size: 13px;
        margin-top: 14px;
        line-height: 1.6em;
    }
}

.overview-card:hover {
    background: #2b2ecf;
    transition: none;
    transform: scale(1);
    svg {
        box-shadow: none;
    }
    .job-overview-buttons .search-buttons.time-button,
    .job-overview-buttons .search-buttons.level-button {
        background-color: #575ad8;
        color: #fff;
    }
    .job-card-title-company,
    .job-card-title-location,
    .job-card-title,
    .job-stat {
        color: #fff;
    }
    .job-card-subtitle,
    .job-day {
        color: #dedede;
    }
    .overview-wrapper .heart {
        color: #fff;
        border-color: #fff;
        &:hover {
            fill: red;
            stroke: red;
            transform: scale(1.1);
        }
    }
}

.detail-button {
    background-color: var(--active-light-color);
    color: var(--active-color);
    font-size: 11px;
    font-weight: 500;
    padding: 6px 8px;
    border-radius: 4px;
    & + & {
        margin-left: 4px;
    }
}

.job-card-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4px;
}

.card-buttons,
.card-buttons-msg {
    padding: 10px;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
}

.card-buttons {
    margin-right: 12px;
    &-msg {
        background-color: var(--inactive-color);
        color: var(--subtitle-color);
    }
}

.menu-dot {
    background-color: var(--placeholder-color);
    box-shadow:
        -6px 0 0 0 var(--placeholder-color),
        6px 0 0 0 var(--placeholder-color);
    width: 4px;
    height: 4px;
    border: 0;
    padding: 0;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 8px;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
}

.job-overview {
    display: flex;
    flex-grow: 1;
    display: none;
    animation: slide 0.6s both;
    &-cards {
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 100%;
        flex-shrink: 0;
    }
    &-card + &-card {
        margin-top: 20px;
    }
    &-buttons {
        display: flex;
        align-items: center;
        margin-top: 12px;
        .search-buttons {
            background-color: var(--inactive-color);
            font-size: 11px;
            padding: 6px 8px;
            margin-top: 0;
            font-weight: 500;
            &.time-button {
                color: var(--time-button);
                margin-right: 8px;
            }
            &.level-button {
                color: var(--level-button);
            }
        }
        .job-stat {
            color: var(--active-color);
            font-size: 12px;
            font-weight: 500;
            margin-left: auto;
        }
        .job-day {
            color: var(--subtitle-color);
            font-size: 12px;
            margin-left: 8px;
            font-weight: 500;
        }
    }
    .overview-wrapper {
        display: flex;
        align-items: center;
        svg:first-child {
            width: 42px;
            margin-right: 10px;
        }
        .heart {
            background: none;
            box-shadow: none;
            width: 24px;
            padding: 4px;
            color: var(--subtitle-color);
            border: 1px solid var(--border-color);
            margin-left: auto;
            margin-bottom: auto;
        }
    }
}

.overview-detail {
    .job-card-title-company,
    .job-card-title-location,
    .job-card-title,
    .job-card-subtitle {
        margin-top: 4px;
    }
    .job-card-subtitle {
        font-size: 12px;
        font-weight: 500;
    }
}

.job-explain {
    background-color: var(--header-bg-color);
    margin-left: 40px;
    border-radius: 0 0 8px 8px;
}

.job-bg {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    width: 100%;
    height: 180px;
    transition: 0.3s;
    position: relative;
}

.job-logos {
    margin-top: -30px;
    position: relative;
    margin-bottom: -36px;
    padding: 0 20px;
    svg {
        width: 66px;
        padding: 12px;
        background-color: #fff;
        border-radius: 10px;
        border: 4px solid var(--header-bg-color);
    }
}

.job-title-wrapper {
    display: flex;
    align-items: center;
    .job-card-title-company,
    .job-card-title-location,
    .job-card-title {
        font-size: 20px;
        margin-top: 0;
        font-weight: 600;
    }
}

.loc-com {
    margin-top: 8px;
    margin-bottom: 8px;
}

.job-action {
    display: flex;
    align-items: center;
    margin-left: auto;
    svg {
        width: 32px;
        border: 1px solid var(--border-color);
        color: var(--subtitle-color);
        border-radius: 8px;
        padding: 6px;
        & + svg {
            margin-left: 12px;
        }
    }
}

.job-explain-content {
    padding: 50px 25px 30px;
}

.job-subtitle-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    .posted {
        margin-left: auto;
    }
    .company-name {
        color: var(--active-color);
        font-weight: 600;
        font-size: 14px;
    }
    .comp-location,
    .posted {
        color: var(--subtitle-color);
        font-size: 12px;
        font-weight: 500;
    }
    .comp-location {
        position: relative;
        margin-left: 10px;
        &:before {
            content: "";
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: var(--placeholder-color);
            top: 49%;
            left: -8px;
            position: absolute;
        }
    }
    .app-number {
        color: var(--body-color);
        position: relative;
        margin-left: 12px;
        &:before {
            content: "";
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: var(--placeholder-color);
            top: 50%;
            left: -7px;
            position: absolute;
        }
    }
}

.explain {
    &-bar {
        margin-top: 20px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        display: flex;
        height: 66px;
        padding: 0 16px;
        align-items: center;
        justify-content: space-between;
    }
    &-title {
        color: var(--subtitle-color);
        font-size: 12px;
        line-height: 40px;
        white-space: nowrap;
    }
    &-subtitle {
        font-size: 13px;
        font-weight: 500;
        margin-top: -2px;
        white-space: nowrap;
    }
    &-contents {
        height: 66px;
        & + & {
            border-left: 1px solid var(--border-color);
            padding-left: 16px;
        }
    }
}

.overview-text {
    margin-top: 30px;
    &-header {
        font-weight: 600;
        margin-bottom: 25px;
    }
    &-subheader {
        font-size: 13px;
        line-height: 2em;
    }
    &-item {
        font-size: 13px;
        position: relative;
        display: flex;
        & + & {
            margin-top: 20px;
        }
        &:before {
            content: "";
            border: 2px solid #61bcff;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            margin-right: 8px;
            flex-shrink: 0;
        }
    }
}

.detail-page {
    .job-overview {
        display: flex;
    }
    .job-cards,
    .searched-bar {
        display: none !important;
    }
    @media screen and (max-width: 1300px) {
        .search-type {
            display: none;
        }
        .searched-jobs {
            padding-left: 0;
        }
    }
}

@media screen and (max-width: 990px) {
    .explain-contents,
    .explain-bar {
        height: auto;
    }
    .explain-bar {
        flex-wrap: wrap;
        padding-bottom: 14px;
    }
    .explain-contents {
        width: 50%;
    }
    .explain-contents + .explain-contents {
        padding: 0;
        border: 0;
    }
    .explain-contents:nth-child(2) ~ .explain-contents {
        margin-top: 16px;
        border-top: 1px solid var(--border-color);
    }
    .job-subtitle-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .job-subtitle-wrapper .posted {
        margin-left: 0;
        margin-top: 6px;
    }
}

@media screen and (max-width: 930px) {
    .search-job,
    .search-salary {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .detail-page .job-overview-cards {
        display: none;
    }
    .user-name {
        display: none;
    }
    .user-profile {
        margin-right: 0;
    }
    .job-explain {
        margin-left: 0;
    }
}

@media screen and (max-width: 730px) {
    .search-type {
        display: none;
    }
    .searched-jobs {
        padding-left: 0;
    }
    .search-menu div:not(:last-of-type) {
        border: 0;
    }
    .job-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .search-location {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .job-cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .header-menu a:not(:first-child) {
        margin-left: 10px;
    }
}

@media screen and (max-width: 590px) {
    .header-menu {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .search.item {
        display: none;
    }
    .search-button {
        margin-left: 16px;
    }
    .searched-bar {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .searched-sort {
        margin-top: 5px;
    }
    .main-container {
        padding-top: 20px;
    }
}

@media screen and (max-width: 380px) {
    .explain-contents {
        width: 100%;
        margin: 0;
    }
    .explain-contents:nth-child(2) ~ .explain-contents {
        margin: 0;
        border: 0;
    }
    .wrapper {
        padding: 20px;
    }
    .header {
        padding: 0 20px;
    }
}

@media screen and (max-width: 393px) {
    header {
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 25px;
    }
    nav a {
        /* padding: 5px 10px !important;
        margin: 0 10px !important; */
        font-size: 3px !important;
    }
    .logo img {
        width: 70px;
        margin-right: 5px;
    }
    .dash-middle,
    .css-1ld7x2h,
    .com-btn,
    .sub-btn {
        display: none !important;
    }
    .login-btn {
        font-size: 16px !important;
    }
    header {
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 25px;
    }
    .search-container input[type="text"] {
        height: 10px;
        padding: 10px;
        font-size: 12px;
    }
    .search-container button {
        padding: 0px;
    }
}

.job-detail-buttons {
    margin-bottom: 8px;
}

.css-1f21ew {
    margin-top: 8px;
    font-weight: 400 !important;
    color: #6f6f6f;
    font-family:
        Noto Sans,
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
    box-sizing: initial;
    font-size: 0.75rem;
}

.job-card-subtitle ul li {
    list-style-type: circle;
}

.job-card-title-location .fas {
    color: rgb(118, 118, 118);
    margin: 8px;
}

.globalTargetList li {
    list-style: none;
}

.globalTargetList ul {
    padding-left: 40px;
}

/* ----------------------------------------------section search comqany ------------------------------ */

.section-search-com {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f3f2f1;
}

.container form {
    border-radius: 5px;
    /*   background-color: #f2f2f2; */
    padding: 20px;
    display: grid;
    grid-template-columns: 75% auto;
    gap: 10px;
    align-items: flex-end;
    box-sizing: border-box;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* margin-top: 6px; */
    margin-bottom: 0px;
    resize: vertical;
    max-height: 154px;
}

.installer {
    width: 200px;
    height: 44px;
    margin-top: 35%;
}

.installer label {
    position: absolute;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.installer label input[type="submit"] {
    display: none;
}

.installer label span {
    position: absolute;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    color: #127964;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #d4d2d0;
    border-radius: 0.5rem;
}

.installer label span:hover {
    border: 1px solid #1bbc9b;
    background: #effffc;
    font-weight: 600;
}

.installer label input:checked ~ span {
    background: #effffc;
    animation: downloadSuccess 3.1s ease;
    /* color: #fff; */
}

.installer label span:after {
    content: "Give feedback";
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
}

.des-feed {
    padding-left: 20px;
}

.installer label input:checked ~ span:after {
    content: "Thank you!";
    animation: downloadState 3s;
}

.installer label span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.2);
}

.installer label input:checked ~ span:before {
    animation: downloadProgress 3s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}

@keyframes downloadSuccess {
    0%,
    90% {
        background: #effffc;
    }
    100% {
        background: #effffc;
    }
}

@keyframes downloadState {
    0%,
    95% {
        content: "Sending...";
    }
    100% {
        content: "Thank you for feedback!";
    }
}

@keyframes downloadProgress {
    0% {
        width: 5%;
        opacity: 1;
    }
    35% {
        width: 17%;
    }
    64% {
        width: 51%;
    }
    81% {
        width: 70%;
    }
    90% {
        width: 86%;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

.sub-btn-wrk[type="submit"] {
    background-color: #fff;
    color: #127964;
    padding: 10px 15px;
    border: none;
    border: 1px solid #d4d2d0;
    border-radius: 10px;
    cursor: pointer;
}

.sub-btn-wrk[type="submit"]:hover {
    background: #effffc;
    color: #127964 !important;
    border: 1px solid #1bbc9b;
    font-weight: 600;
}

.txt-btn,
.sub-btn-wrk {
    border: 2px solid hsl(236, 92%, 66%);
    outline: none;
    transition: 200ms ease-in;
}

@media screen and (max-width: 393px) {
    .sub-btn-wrk {
        display: none !important;
    }
    .search-container input[type="text"] {
        height: 10px;
        padding: 10px;
        font-size: 12px;
    }
    .search-container button {
        padding: 0px;
    }
}

.line-search-find-com {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 80% auto;
    gap: 10px;
    align-items: flex-end;
    box-sizing: border-box;
}

/* ------------------------------------------------------followers--------------------------- */

.css-hid0zu {
    color: #595959;
    font-family:
        Noto Sans,
        Helvetica Neue,
        Helvetica,
        Arial,
        Liberation Sans,
        Roboto,
        Noto,
        sans-serif;
    font-size: 12px;
    font-weight: inherit;
    line-height: 1.5;
}

.review-link {
    text-decoration: none;
}

.review-link:visited {
    text-decoration: none;
}

/* ---------------------------------------qrofile star------------------------------------- */

.rating-icons-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 6%;
    /* height: 10%; */
    left: 68px;
}

.rating-icons-profile span {
    position: absolute;
    display: flex;
    font-size: 19px;
    transform: translateX(-50%);
    margin-bottom: 5px;
}

.one-prof .fas {
    color: #cfd8dc;
}

.two-prof {
    background: linear-gradient(to right, #ffc000 0%, transparent 0%);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-in-out all;
}

.review-stars {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    background-color: #fff;
}

.review-stars {
    display: -webkit-inline-box;
    border-radius: 15px;
    gap: 68px;
}

.company-card__review {
    margin-left: 23.5%;
    margin-right: auto;
}

/* ---------------------------------search not found-------------------------------- */

.globalSearchResultNoFoundFeedback {
    font-size: 30px;
    padding: 20px;
    color: #91a1bb;
    text-align: center;
    font-family: inherit;
    background: #f6f7f9;
    border-radius: 5px;
}
