@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* -------------Text container-----------*/

/* --------------------joblisting container ---------------------- */

/* ----------------Slider---------------------*/

img {
  vertical-align: middle;
}

.logoimg {
  margin-left: auto;
  margin-right: auto;
  width: 76%;
  display: block;
  border-radius: 10px;
}
.Settings {
  margin-left: 75%;
  margin-right: auto;
  margin-top: -4%;
  display: block;
  width: 20%;
}

.profile img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  object-fit: cover;
  margin-left: 21%;
  margin-top: -90px;
  border: 5px solid #fff;
}
.name {
  margin-top: 1%;
  margin-left: 21%;
  font-size: 1.25rem;
  /* size: 10px; */
  font-family: sans-serif;
}
.strand {
  margin-top: 1%;
  margin-left: 21%;
  font-size: 1.25rem;
  color: #777;
}

hr {
  margin: auto;
  width: 75%;
}

/* ///////////////////////////////////Search Bar //////////////////////////////// */

/* -------------------------line button----------------------------- */

.css-1ld7x2h {
  background-color: #d4d2d0;
  margin: 0.75rem 0 0;
}

.css-1ld7x2h {
  box-sizing: border-box;
  height: 1.5rem;
  min-width: 0;
  width: 0.0625rem;
}

/* ----------------------------company review---------------- */

button,
.button {
  display: inline-block;
  padding: 16px 35px;
  background: #103c8a;
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

button:hover,
.button:hover {
  background: #1550b8;
  color: #fff;
}

footer {
  background-color: #fff;
  color: #333;
  padding: 20px;
  text-align: center;
  bottom: 0;
}

/* ---successful--- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px 60px;
  background: #0b0b0b;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

.popup {
  width: 400px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 130%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
}
/* --Header-- */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1,
h2,
h3 {
  color: #333;
}

.nav-header {
  background-color: #fff;
  color: #fff;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 100px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 220px;
  /* Adjust the width as needed */
  /* height: 50px; Adjust the height as needed */
  margin-right: 30px;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

nav {
  text-align: center;
  display: flex;
}

nav a {
  color: #555;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

nav .login-btn:hover {
  color: #172738;
}

nav a:hover {
  color: #1bbc9b;
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1bbc9b;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.login-btn {
  margin-right: 10px;
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 14px;
  font-weight: 700;
  color: #172738;
  border: 1px solid rgb(23, 39, 56);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.login-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(37, 216, 180);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
  color: #fff;
}

.login-btn:hover::before {
  transform: translateX(0);
  color: #fff;
}

@media only screen and (max-width: 1085px) {
  .header {
    padding-left: 20px !important;
    padding-bottom: 5px !important;
  }
  .logo img {
    width: 160px !important;
    /* Adjust the width as needed */
    margin-right: 15px !important;
  }
  nav a {
    padding: 5px 10px !important;
    margin: 0 10px !important;
    font-size: 14px !important;
  }
  .login-btn {
    /* display: inline-block; */
    height: 10% !important;
  }
  .logoimg {
    width: 100% !important;
  }
  .css-1ld7x2h {
    margin: 5px 0 0 !important;
  }
}

/* -------------------------line button----------------------------- */

.css-1ld7x2h {
  background-color: #d4d2d0;
  margin: 0.75rem 0 0;
}

.css-1ld7x2h {
  box-sizing: border-box;
  height: 1.5rem;
  min-width: 0;
  width: 0.0625rem;
}
/* ---end Header--- */

.button {
  margin: 50px;
}

#toastBox {
  position: relative;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.buttons button {
  background: #333;
  color: #fff;
  border: 0;
  outline: 0;
  width: 120px;
  margin: 5px;
  cursor: pointer;
}
.toast {
  width: 400px;
  height: 80px;
  background-color: #fff;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;
}

.toast i {
  margin: 0 20px;
  font-size: 35px;
  color: green;
}

.toast.error i {
  color: red;
}

.toast.Invalid i {
  color: orange;
}

.toast::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: green;
  animation: anim 5s linear forwards;
}

@keyframes anim {
  100% {
    width: 0;
  }
}

.toast.error::after {
  background: red;
}
.toast.Invalid::after {
  background: orange;
}
@media screen and (max-width: 600px) {
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
