/*--------header end---------- */

.container2 {
  /* padding-top: 50px; */
  display: block;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

/* ------table------- */

.rwd-table,
.show {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
}

.show tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
}

.rwd-table tr,
.dropdown2-content {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.show tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: 0.5em;
}

.show tr:first-child {
  margin-top: 0.5em;
}

.rwd-table td:last-child {
  margin-bottom: 0.5em;
}

.show tr:last-child {
  margin-top: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: center;
}

.rwd-table {
  color: #333;
  border-radius: 0.4em;
  overflow: hidden;
  width: 75%;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: 0.5em 1em;
}

@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
    width: 100% !important;
  }
}

@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

/* THE END OF THE IMPORTANT STUFF */

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ---EndModal--- */

@media (min-width: 768px) {
  .button-37 {
    padding: auto;
  }
  .button-9 {
    padding: 10px 30px;
  }
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  font-weight: bold;
}

/* .button-9:disabled {
  cursor: default;
} */

.button-9:hover {
  transform: translateY(-2px);
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

/* --edit-- */

.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 100%;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: bold;
  margin-top: 20px;
  width: auto;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: auto;
  }
  .button-9 {
    padding: 10px 30px;
  }
}

.idpic {
  width: 130px;
  height: 150px;
  object-fit: cover;
  border-radius: 50px;
}

/* .dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
} */

.show {
  /* display: block; */
  display: contents;
}

.Chart2 {
  margin-top: 30px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: 100%;
  font-weight: bold;
  display: ruby;
}

.Chart1 {
  margin-top: 40px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

/* Create two equal columns that floats next to each other */

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 480px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.title {
  margin-bottom: 20px;
  margin-top: 40px;
}

.container3 {
  display: flex;
  /* width: 420px;
  padding: 50px 0;
  row-gap: 30px; */
  margin: auto;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
}

.circular-progress {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
}

.circular-progress::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: #fff;
  border-radius: 50%;
}

.progress-value {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: #7d2ae8;
}

.container4 {
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.Time {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

canvas {
  width: 100%; /* Use full width */
  height: auto; /* Increase the height of the canvas */
  margin: auto;
}

/* Container to hold the boxes */
.box-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow boxes to wrap to the next row */
  justify-content: center; /* Center the boxes horizontally */
  gap: 20px; /* Space between boxes */
}

/* Style for each box */
.box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*            background-color: #4CAF50;*/
  color: #000;
  border-radius: 10px;
  font-size: 18px;
  /*            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
