@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import "https://fonts.googleapis.com/css?family=Open+Sans:600,700";
@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Madimi+One&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Rubik+Broken+Fax&display=swap");

/* --------------------Line  ---------------------- */

.line_bottom {
  width: 100% !important;
  height: 1px;
  background-color: #d4d2d0;
  border: none;
  /* margin: 0.75rem 0 0; */
}

/* ----------------Slider---------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  vertical-align: middle;
}

.logoimg {
  margin-left: auto;
  margin-right: auto;
  width: 76%;
  display: block;
  border-radius: 10px;
}

.Settings {
  margin-left: 76%;
  margin-right: auto;
  margin-top: -4%;
  display: block;
  width: 20%;
}

.profile img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  object-fit: cover;
  margin-left: 21%;
  margin-top: -90px;
  /* border: 5px solid #fff; */
}

.name {
  margin-top: 1%;
  margin-left: 25%;
  font-size: 1.25rem;
  /* size: 10px; */
  font-family: sans-serif;
}

.strand {
  margin-top: 1%;
  margin-left: 21%;
  font-size: 1.25rem;
  color: #777;
}

hr {
  width: 75%;
  margin: auto;
  width: 75%;
}

/* ///////////////////////////////////Search Bar //////////////////////////////// */

/* -------------------------line button----------------------------- */

.css-1ld7x2h {
  background-color: #d4d2d0;
  margin: 0.75rem 0 0;
}

.css-1ld7x2h {
  box-sizing: border-box;
  height: 1.5rem;
  min-width: 0;
  width: 0.0625rem;
}

/* ----------------------------company review---------------- */

/* button,
.button {
  display: inline-block;
  padding: 16px 35px;
  background: #103c8a;
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
  display: inline-block;
  padding: 16px 35px;
  background: #b4b4b8;
  color: #000000;
  border-radius: 15px;
  transition: background 0.3s ease-in-out;
  font-weight: bold;
}

button:hover,
.button:hover {
  background: #1550b8;
  color: #fff;
} */

/* footer {
    background-color: #fff;
    color: #333;
    padding: 20px;
    text-align: center;
} */

.active1 {
  color: #fff;
  /* background-color: rgba(30, 189, 156, 0.8); */
  background-color: rgba(52, 121, 40, 0.9);
  font-weight: bold;
}

footer {
  background-color: #fff;
  color: #333;
  padding: 20px;
  text-align: center;
}

/* -----------Header-------------- */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1,
h2,
h3 {
  color: #333;
}

.nav-header {
  background-color: #fff;
  color: #fff;
  padding-top: 5px;
  /* padding-right: 20px; */
  padding-left: 100px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.checkbtn {
  font-size: 30px;
  color: #000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  /* display: none; */
}

#check {
  display: none;
}

.cam {
  display: none;
}

.pen {
  display: none;
}

@media screen and (max-width: 1000px) {
  .cam {
    display: block;
    font-size: 15px;
    border-radius: 20px;
  }
  .button-13 {
    float: right;
  }
  .button-12 {
    border-radius: 110px;
  }
  .edit {
    display: none;
  }
  .pen {
    display: block;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 220px;
  /* Adjust the width as needed */
  /* height: 50px; Adjust the height as needed */
  margin-right: 30px;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

nav {
  text-align: center;
  display: flex;
  margin-right: 180px;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

nav .login-btn:hover {
  color: #172738;
}

nav a:hover {
  color: #000000;
  /* background-color: rgba(27, 188, 155, 0.3); */
  font-weight: bold;
}

.bt a:hover {
  color: #000000;
  background-color: rgba(27, 188, 155, 0.3);
  font-weight: bold;
}

.by a:hover {
  /* color: #1ebd9c; */
  color: #347928;
  /* background-color: rgba(27, 188, 155, 0.1); */
  font-weight: bold;
}

.bt a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #347928;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

.by a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #347928;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgb(249, 249, 249);
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
  padding: 30px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-right: auto;
  /* width: 40%; */
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdowntf {
  position: relative;
  display: inline-block;
  /* margin-top: 10px; */
}

.dropdowntf-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(249, 249, 249, 0.9);
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 0;
  padding: 30px;
  cursor: pointer;
}

.dropdowntf-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-right: auto;
  text-align: left;
}

.dropdowntf:hover .dropdowntf-content {
  display: block;
}

.notif {
  color: black;
  float: left;
  margin-top: -20px;
}

.dropdowntf-content img {
  display: block;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.dropdowntf-content .text h4 {
  color: #000;
  font-size: 16px;
  margin-top: 10px;
}

.dropdowntf-content .text p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
}

.notifi-item {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 15px 5px;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: left;
}

.foot {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000;
}

.email {
  text-align: left;
  font-weight: bold;
  color: #000;
}

.logout a {
  text-align: center;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.login-btn {
  margin-right: 10px;
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 14px;
  font-weight: 700;
  color: #172738;
  border: 1px solid rgb(23, 39, 56);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.login-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(37, 216, 180);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
  color: #fff;
}

.login-btn:hover::before {
  transform: translateX(0);
  color: #fff;
}

@media only screen and (max-width: 1085px) {
  .header {
    padding-left: 20px !important;
    padding-bottom: 5px !important;
  }
  .logo img {
    width: 160px !important;
    /* Adjust the width as needed */
    margin-right: 15px !important;
  }
  nav a {
    /* padding: 5px 10px !important; */
    margin: 0 10px !important;
    font-size: 14px !important;
  }
  .login-btn {
    /* width: 10% !important; */
    height: 10% !important;
    padding: 10px !important;
  }
  .logoimg {
    width: 100% !important;
  }
  .container {
    width: auto !important;
  }
  .css-1ld7x2h {
    margin: 5px 0 0 !important;
  }
  nav {
    margin: 0;
  }
}

/* -------------------------line button----------------------------- */

.css-1ld7x2h {
  background-color: #d4d2d0;
  margin: 0.75rem 0 0;
}

.css-1ld7x2h {
  box-sizing: border-box;
  height: 1.5rem;
  min-width: 0;
  width: 0.0625rem;
}

/* -----------End Header---------------- */

.container {
  margin: auto;
  display: flex;
  width: 50%;
  font-family: "Madimi One", sans-serif;
  font-weight: 400px;
  font-style: normal;
}

.box:hover {
  background-color: #0095e5;
  color: white;
}

.box {
  background-color: #ddd;
  border: none;
  color: black;
  display: inline-block;
  padding: 20px;
  /* background-color: #ffff; */
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  cursor: pointer;
}

.content:not(.active) {
  display: none;
}

/* ------table------- */

.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: 0.5em;
}

.rwd-table td:last-child {
  margin-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: center;
}

.rwd-table {
  color: #333;
  border-radius: 0.4em;
  overflow: hidden;
  width: 75%;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: 0.5em 1em;
}

@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}

@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */

h1 {
  text-align: center;
  font-size: 2.4em;
  color: #000000;
}

/* .container2 {
  display: block;
  text-align: center;
  font-family: "Open Sans", sans-serif;
} */

h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #080808;
}

h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}

h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}

@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* --------------------------------------sub footer----------------------------- */

.sub-footer {
  background: #1e1e1e;
  text-align: center;
  font-size: 14px;
  color: gray;
  padding: 10px 0px;
}

/* --edit-- */

.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  /* width: 100px; */
  position: absolute;
  top: 320px;
  left: 76%;
}

.button-13:hover {
  background-color: #ffffff;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.fa {
  margin: 6px;
}

/* input {
  display: none;
} */

.button-12 {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  border: none;
  background: #6e6d70;
  box-shadow:
    0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow:
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.button-12:hover {
  background-color: #030303;
}

.notification .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
  /* display: none; */
}

.notification {
  /* background-color: #555; */
  /* color: white; */
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.container2 {
  /* padding-top: 50px; */
  display: block;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

.idpic {
  width: 130px;
  height: 150px;
  object-fit: cover;
  border-radius: 50px;
}

.button-9:hover {
  transform: translateY(-2px);
}

.button-9:focus {
  box-shadow:
    rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0,
    rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow:
    rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0,
    rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition:
    all 0.2s,
    box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  font-weight: bold;
}

.container3 {
  display: flex;
  /* width: 420px;
  padding: 50px 0;
  row-gap: 30px; */
  margin: auto;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
}

.circular-progress {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: conic-gradient(#4379f2 3.6deg, #ededed 0deg);
}

.circular-progress::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 50%;
}

.progress-value {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: #4379f2;
}

.addStudent button {
  margin: auto;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

/* CSS */

.button-66 {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow:
    rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset,
    rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  /* display: inherit; */
  font-family:
    "Space Grotesk",
    -apple-system,
    system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-top: 20px;
  min-height: 56px;
  min-width: 120px;
  /* padding: 10px 15px; */
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.button-66:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}

.butts {
  margin: auto;
  display: flex;
  width: 50%;
  margin-right: 110px;
}

.container4 {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.AddStudent {
  text-align: center;
  color: #fff;
}

.formSub {
  display: flex;
  flex-direction: column;
}

.StudentLabel {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.StudentSelect {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}

/*body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  font-size: 17px;
  line-height: 1.6;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}*/

.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  /*  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);*/
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 50px;
  color: #fff;
  margin-right: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
