@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Generic styles just to make this pen look better */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    vertical-align: middle;
}

.logoimg {
    margin-left: auto;
    margin-right: auto;
    width: 76%;
    display: block;
    border-radius: 10px;
    object-fit: cover;
}

.Settings {
    margin-left: 65%;
    margin-right: auto;
    margin-top: -4%;
    display: block;
    width: 20%;
}

.profile-name img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    object-fit: cover;
    margin-left: 21%;
    margin-top: -90px;
    border: 5px solid #fff;
    object-fit: cover;
}

.name {
    margin-top: 1%;
    margin-left: 21%;
    font-size: 1.25rem;
    /* size: 10px; */
    font-family: sans-serif;
}

.strand {
    margin-top: 1%;
    margin-left: 21%;
    font-size: 1.25rem;
    color: #777;
}

hr {
    margin: auto;
    width: 75%;
}

footer {
    background-color: #fff;
    color: #333;
    padding: 20px;
    text-align: center;
    bottom: 0;
}

h1,
h2,
h3 {
    color: #333;
}

.nav-header {
    background-color: #fff;
    color: #000000;
    padding-top: 5px;
    padding-left: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.cam {
    display: none;
}

.pen {
    display: none;
}

.button-12 {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: "Poppins", sans-serif;
    border-radius: 6px;
    border: none;
    background: #1bbc9b;
    box-shadow:
        0px 0.5px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
        0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* font-weight: bold; */
}

.button-12:focus {
    box-shadow:
        inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
        0px 0.5px 1px rgba(0, 0, 0, 0.1),
        0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.button-12:hover {
    background-color: #17997f;
}

.button-13 {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: "Poppins", sans-serif;
    border-radius: 6px !important;
    border: none;
    background: #fff;
    box-shadow:
        0px 0.5px 1px rgba(0, 0, 0, 0.1),
        inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
        0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #127964;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    right: 50px;
    /* font-weight: bold; */
}

.button-13:focus {
    box-shadow:
        inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
        0px 0.5px 1px rgba(0, 0, 0, 0.1),
        0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.button-13:hover {
    background-color: #f1fffc;
    border-color: #1bbc9b;
}

@media screen and (max-width: 1000px) {
    .cam {
        display: block;
        font-size: 15px;
        border-radius: 20px;
    }
    /* .button-13 {
        float: right;
    } */
    /* .button-12 {
        border-radius: 110px;
    } */
    .edit {
        display: none;
    }
    .pen {
        display: block;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 220px;
    /* Adjust the width as needed */
    /* height: 50px; Adjust the height as needed */
    margin-right: 30px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    text-align: center;
    display: flex;
}

nav a {
    color: #555;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s;
    font-size: 15px;
    font-weight: 400;
}

nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1bbc9b;
    bottom: -14px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.fas i {
    margin: 0 10px;
}

nav .login-btn:hover {
    color: #172738;
}

nav a:hover {
    color: #1bbc9b;
}

.active {
    color: #000000;
    background-color: rgba(27, 188, 155, 0.3);
    font-weight: bold;
}

.bt a:hover {
    color: #000000;
    background-color: rgba(27, 188, 155, 0.3);
    font-weight: bold;
}

.by a:hover {
    color: #1bbc9b;
    font-weight: bold;
    /* color: #38ac95; */
}

.bt a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1bbc9b;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.login-btn {
    margin-right: 10px;
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 14px;
    font-weight: 700;
    color: #172738;
    border: 1px solid rgb(23, 39, 56);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.login-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 216, 180);
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
    color: #fff;
}

.login-btn:hover::before {
    transform: translateX(0);
    color: #fff;
}

@media only screen and (max-width: 1085px) {
    .header {
        padding-left: 20px !important;
        padding-bottom: 5px !important;
    }
    .logo img {
        width: 160px !important;
        /* Adjust the width as needed */
        margin-right: 15px !important;
    }
    nav a {
        padding: 5px 10px !important;
        margin: 0 10px !important;
        font-size: 14px !important;
    }
    .login-btn {
        /* width: 10% !important; */
        height: 10% !important;
        padding: 10px !important;
    }
    .logoimg {
        width: 100% !important;
    }
    .css-1ld7x2h {
        margin: 10px 0 0 !important;
    }
    nav {
        margin: 0;
    }
}

/* -------------------------line button----------------------------- */

.css-1ld7x2h {
    background-color: #d4d2d0;
    margin: 0.75rem 0 0;
}

.css-1ld7x2h {
    box-sizing: border-box;
    height: 1.5rem;
    min-width: 0;
    width: 0.0625rem;
}

/* --------------------Line  ---------------------- */

.line_bottom {
    width: 100%;
    height: 1px;
    background-color: #d4d2d0;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* ---Details--- */

h1 {
    padding-top: 30px;
    margin: auto;
    width: auto;
}

/* --Snapshot-- */

.snapshot_containe,
.bgc {
    margin: auto;
    width: 75%;
    height: auto;
    padding: 16px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.fa {
    margin: 6px;
}

/* input {
    display: none;
} */

/* ------------------------------------------------------followers--------------------------- */

.css-hid0zu {
    color: #595959;
    font-family:
        Noto Sans,
        Helvetica Neue,
        Helvetica,
        Arial,
        Liberation Sans,
        Roboto,
        Noto,
        sans-serif;
    font-size: 12px;
    font-weight: inherit;
    line-height: 1.5;
}

.review-link {
    text-decoration: none;
}

.review-link:visited {
    text-decoration: none;
}

.review-stars .fas {
    color: #ffc000;
}

.review-stars .far {
    opacity: 0.35;
}

/* -------------------------------browse question and answer ------------------------ */

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.testimonial-box {
    width: 800px;
    /* box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1); */
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

/* .name-user a:hover {
    text-decoration: underline;
} */

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
}

/* .testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
} */

@media (max-width: 784px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }
}

@media (max-width: 790px) {
    .testimonial-box {
        width: 100%;
    }
    .testimonial-heading h1 {
        font-size: 1.4rem;
    }
}

@media (max-width: 340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews {
        margin-top: 10px;
    }
}

::selection {
    color: #ffffff;
    background-color: #252525;
}

/* ------------------------------------------- browse question and answer ------------------------------ */

/* 
circle[animetion] {
    transition: 0.2s;
    stroke-width: 0;
    stroke: rgb(83, 162, 215, 0.3);
}

circle[animetion][start] {
    stroke-width: 8;
}

svg g[show_data] {
    animation-name: show_smoth;
    animation-duration: 0.3s;
}

@keyframes show_smoth {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rating-overview {
    padding: 50px;
    padding-left: 0 !important;
} */

/* ----------------------------------Question search------------------- */

.search-find-com {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f3f2f1;
}

.searchwork {
    width: 20px auto;
    height: 50px auto;
    color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.searchwork button {
    border: none;
    background: none;
}

.searchwork svg {
    width: 1.5rem;
    height: 1.5rem;
    color: #2d2d2d;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0;
}

.line-search {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 80% auto;
    gap: 10px;
    align-items: flex-end;
    box-sizing: border-box;
    width: 100%;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    /*   border-radius: 10px; */
    padding: 0px 10px;
    width: 100%;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.search-container input[type="text"] {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    margin-top: 0px !important;
    /*   border-radius: 10px; */
}

.search-container button {
    background-color: #fff;
    border: none;
    color: #000;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sub-btn[type="submit"] {
    background-color: #fff;
    color: #127964;
    padding: 10px 15px;
    border: none;
    border: 1px solid #d4d2d0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

.sub-btn[type="submit"]:hover {
    background: #effffc;
    /*     color: #000; */
    border: 1px solid #1bbc9b;
    font-weight: 400;
}

.txt-btn,
.sub-btn {
    border: 2px solid hsl(236, 92%, 66%);
    outline: none;
    transition: 200ms ease-in;
}

.txt-btn {
    width: 100%;
}

/* -----------------------------------feedback-------------------------------- */

.container {
    border-radius: 5px;
    /*   background-color: #f2f2f2; */
    padding: 20px;
    display: grid;
    grid-template-columns: 75% auto;
    gap: 10px;
    align-items: flex-end;
    box-sizing: border-box;
}

.installer {
    width: 200px;
    height: 44px;
    margin-top: 35%;
}

.installer label {
    position: absolute;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.installer label input[type="radio"] {
    display: none;
}

.installer label span {
    position: absolute;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    color: #127964;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #d4d2d0;
    border-radius: 0.5rem;
}

.installer label span:hover {
    border: 1px solid #1bbc9b;
    background: #effffc;
    font-weight: 600;
}

.installer label input:checked ~ span {
    background: #effffc;
    animation: downloadSuccess 3.1s ease;
    /* color: #fff; */
}

.installer label span:after {
    content: "Give feedback";
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
}

.installer label input:checked ~ span:after {
    content: "Thank you!";
    animation: downloadState 3s;
}

.installer label span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.2);
}

.installer label input:checked ~ span:before {
    animation: downloadProgress 3s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}

@keyframes downloadSuccess {
    0%,
    90% {
        background: #effffc;
    }
    100% {
        background: #effffc;
    }
}

@keyframes downloadState {
    0%,
    95% {
        content: "Sending...";
    }
    100% {
        content: "Thank you for feedback!";
    }
}

@keyframes downloadProgress {
    0% {
        width: 5%;
        opacity: 1;
    }
    35% {
        width: 17%;
    }
    64% {
        width: 51%;
    }
    81% {
        width: 70%;
    }
    90% {
        width: 86%;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 0px;
    resize: vertical;
    max-height: 154px;
}

/* --------------------------------------ask a question ------------------------------------ */

.guid-btn[type="submit"] {
    background-color: #fff;
    color: #127964;
    padding: 10px 15px;
    border: none;
    border: 1px solid #d4d2d0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

.guid-btn[type="submit"]:hover {
    background: #effffc;
    /*     color: #000; */
    border: 1px solid #1bbc9b;
    font-weight: 400;
}

.guid-btn {
    border: 2px solid hsl(236, 92%, 66%);
    outline: none;
    transition: 200ms ease-in;
}

.css-19w3i0t {
    color: #2d2d2d;
    display: block;
    font-family:
        Noto Sans,
        Helvetica Neue,
        Helvetica,
        Arial,
        Liberation Sans,
        Roboto,
        Noto,
        sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 8px;
}

.css-4pn4n5 {
    box-sizing: border-box;
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.css-1z0pyms {
    /* color: #595959; */
    color: #2d2d2d;
    font-family:
        Noto Sans,
        Helvetica Neue,
        Helvetica,
        Arial,
        Liberation Sans,
        Roboto,
        Noto,
        sans-serif;
    font-size: 0.875rem;
    font-weight: inherit;
    line-height: 1.5;
}

.css-1piz3yk {
    box-sizing: border-box;
    list-style-position: inside;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    min-inline-size: 0;
    padding: 0;
}

.css-1piz3yk li {
    list-style-type: none;
}

@media screen and (min-width: 62em) {
    .css-4pn4n5 {
        flex-direction: row;
        justify-content: space-between;
    }
}

.css-2oood6 {
    background-color: #fff;
    box-sizing: border-box;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    min-inline-size: 0;
    padding: 1rem;
    margin-bottom: 50px;
}

.css-8sxzvm,
.css-t9hskz {
    color: #595959;
    font-family:
        Noto Sans,
        Helvetica Neue,
        Helvetica,
        Arial,
        Liberation Sans,
        Roboto,
        Noto,
        sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-block-end: 0.25rem;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin-bottom: 0;
}

.css-14uu574,
.css-n3nelf {
    color: #595959;
    font-family:
        Noto Sans,
        Helvetica Neue,
        Helvetica,
        Arial,
        Liberation Sans,
        Roboto,
        Noto,
        sans-serif;
    font-weight: inherit;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 0.75rem;
}

/* ---------------------------------------------button submit------------------------------------------- */

.guid-text {
    color: #595959;
    font-size: 10px;
    font-weight: inherit;
}

.installer-submit {
    width: 200px;
    height: 44px;
    margin-top: 12px;
}

.installer-submit label {
    position: absolute;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.installer-submit label input[type="radio"] {
    display: none;
}

.installer-submit label span {
    position: absolute;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    color: #127964;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #d4d2d0;
    border-radius: 0.5rem;
    font-weight: 600;
}

.installer-submit label span:hover {
    border: 1px solid #1bbc9b;
    background: #effffc;
    font-weight: 400;
}

.installer-submit label input:checked ~ span {
    background: #effffc;
    animation: downloadSuccess 3.1s ease;
    /* color: #fff; */
}

.installer-submit label span:after {
    content: "Submit Answer";
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
}

.installer-submit label input:checked ~ span:after {
    content: "Thank you!";
    animation: downloadState 3s;
}

.installer-submit label span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.2);
}

.installer-submit label input:checked ~ span:before {
    animation: downloadProgress 3s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}

@keyframes downloadSuccess {
    0%,
    90% {
        background: #effffc;
    }
    100% {
        background: #effffc;
    }
}

@keyframes downloadState {
    0%,
    95% {
        content: "Sending...";
    }
    100% {
        content: "Thank you for feedback!";
    }
}

@keyframes downloadProgress {
    0% {
        width: 5%;
        opacity: 1;
    }
    35% {
        width: 17%;
    }
    64% {
        width: 51%;
    }
    81% {
        width: 70%;
    }
    90% {
        width: 86%;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

.css-dtssv9 {
    font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "Liberation Sans", "Roboto", "Noto", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #2d2d2d;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

/* --------------------------button qhoto ---------------------- */

.cta-photo {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.cta-photo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta-photo span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta-photo svg {
    position: relative;
    top: 0;
    margin-right: 10px;
    fill: #234567;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(5px);
    transition: all 0.3s ease;
}

.cta-photo:hover:before {
    width: 100%;
}

.cta-photo:hover {
    color: #1bbc9b;
}

.cta-photo:hover svg {
    transform: translateX(0);
}

.cta-photo:active {
    transform: scale(0.95);
}
